h1{
    color: chocolate;
    background-color: darkblue;

}
div{
    color: darkorange;
    background-color: darkorchid;
}
body{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;

}