w3d5/q1/node_modules
w3d5/q1/package-lock.json
w3d5/q1/package.json

w3d5/q2/node_modules
w3d5/q2/package-lock.json
w3d5/q2/package.json
 
w3d5/q3/node_modules
w3d5/q3/package-lock.json
w3d5/q3/package.json

w3d5/q4/node_modules
w3d5/q4/package-lock.json
w3d5/q4/package.json