<%- include('header.ejs')%>
<h4 class="title mt-2 mb-2 p-3">
    Product List
</h4>
    <% for(let product of listofItems){ %>
        <div>Product Name:  <%=product.name%></div>
        <div>Product Discription: <%=product.description%></div>
        
        <% } %>
        <%- include('footer.ejs')%>