.grid-contener{
    
    display: grid;
   
}
.flux-container1{
    display: flex;
    
}

@media screen and (max-width:599px) {
    .flex-container2{
        display: inline;
    }
}
.flux-container1{
    height: 30px;
    display: flex;
    background-color: tan;
}
#m1{
    
    width: 70px;
    padding: 10px;
    font-size: 15px;
}
#m2{

    width: 70px;
    padding: 10px;
    font-size: 15px;
}
#m3{
    
    width: 70px;
    padding: 10px;
    font-size: 15px;
}
.flex-container2 {
    height: 150px;
    display: flex;
    
}
#c1{
   
    width: 600px;
    background-color: grey;
}
#c2{
    
    width: 720px;
    background-color:brown;
}
#c3{
    
    width: 600px;
    background-color: rgb(48, 100, 100);
}
#header{
    height: 50px;
    text-align: center;
    font-size: 30px;
    background-color: slateblue;
}
#footer{
    height: 50px;
    text-align: center;
    background-color: darkslategrey;
}